* {
  padding: 0;
  margin: 0;
}

.tdList-header{
  background-color: #de6f6f98;
  display: flex;
  justify-content: center;
}

.tdList-container{
  display: flex;
  justify-content: space-around;
  background-color: #9fd3d6cf;
}

.tdList-todo{
  background-color: #79d291c4;
}

.tdList-completed{
  background-color: #c0a0f496;
}